<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sp.dao.SysProjectDao" >
  <resultMap id="BaseResultMap" type="com.sp.entity.SysProject" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, type, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  
  <sql id="dynamicWhere">
		<where>
			<if test="type != null and type != ''">AND type = '${type}' </if>
		</where>
   </sql>
  
  <insert id="insertSysProject" parameterType="com.sp.entity.SysProject" >
    insert into sys_project (id, name, type, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  
  <delete id="deleteSysProjectByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_project
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateSysProjectByPrimaryKey" parameterType="com.sp.entity.SysProject" >
    update sys_project
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectSysProjectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="querySysProjectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_project
    <include refid="dynamicWhere" />
  </select>
  
</mapper>