<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sp.dao.SysUserRoleDao" >
  <resultMap id="BaseResultMap" type="com.sp.entity.SysUserRole" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  
   <!-- 查询条件 -->
  <sql id="dynamicWhere">
		<where>
			<if test="userId != null and userId != ''">AND user_id=  #{userId} </if>
			<if test="roleId != null and roleId != ''">AND role_id = #{roleId} </if>
		</where>
   </sql>
  
  <insert id="insertSysUserRole" parameterType="com.sp.entity.SysUserRole" >
    insert into sys_user_role (user_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deleteSysUserRoleByPrimaryKey" parameterType="java.util.Map" >
    delete from sys_user_role where user_id = #{userId}  and role_id = #{roleId}
  </delete>
  
   <delete id="deleteSysUserRoleByUserId" parameterType="java.lang.String" >
    delete from sys_user_role  where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  
   <!-- 获取用户角色列表 -->
   <select id="getSysUserRoleList"  parameterType="java.util.Map" resultMap="BaseResultMap">
  	 select 
    user_id,role_id 
    from sys_user_role
     <include refid="dynamicWhere" /> 
  </select>
</mapper>